<div class="w3-container">
  <h1>
    Editar Post:
  </h1>
</div>

<%= render 'form' %>
<div class="w3-container">
  <%= button_to 'Cancel and return', articles_path, method: :get, class: "w3-button w3-white w3-border w3-border-red" %>
</div>
