<div class="w3-container">
  <h1>
    Registrarse:
  </h1>
</div>

<%= render 'user_form' %>

<div class="w3-container">
  <%= button_to 'Cancelar', root_path, method: :get, class: "w3-button w3-white w3-border w3-border-red" %>
</div>
